@import "@/styles/utils.scss";

.layout {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;

  @include max-md {
    flex-direction: column;
    align-items: flex-start;
  }
}

.container {
  padding: 1rem 0;
  width: 100%;
}

.body {
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
  overflow: hidden auto;
}

.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & > * {
    width: 100%;
    max-width: 500px;
    margin: 0.5rem;
  }
}
